.text-align-right {
    text-align: right;
}

.nav > li {
    padding: 5px;
}

.topMenu {
    margin: 1% auto;
}

.errorPage {
    position: absolute;
    left: 35%;
    top: 35%;
    height: 200px;
    width: 400px;
    text-align: center;
}

.errorPageImage {
    background: url("../assets/images/dunno.gif") 0 0 no-repeat;
    width: 500px;
    height: 282px;
}

.red {
    color: #f00;
}

.yellow {
    color: #edac46;
}

.width95 {
    width: 95%;
}

.loginForm {
    width: 30%;
    margin: 15% auto;
}