.text-align-right {
    text-align: right;
}

.nav > li {
    padding: 5px;
}

.topMenu {
    margin: 1% auto;
}

.errorPage {
    width: 40%;
    margin: 70px auto;
    text-align: center;
}

.errorPageImage {
    background: url("../assets/images/dunno.gif") 0 0 no-repeat;
    width: 500px;
    height: 282px;
}

.red {
    color: #f00;
}

.yellow {
    color: #edac46;
}

.width95 {
    width: 95%;
}

.loginForm {
    width: 30%;
    margin: 70px auto;
}

.contactPage {
    width: 80%;
    margin: 70px auto;
    text-align: center;
    font-size: 22px;
}