<div class="loginForm">
    <div class="alert alert-danger" ng-show="authCtrl.error">
        {{'loginProblem' | translate}}
    </div>
    <form role="form" ng-submit="authCtrl.login()">
        <div class="form-group">
            <label for="username">Login:</label>
            <input type="text" class="form-control" id="username" name="username" ng-model="authCtrl.credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">{{'password' | translate}}:</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="authCtrl.credentials.password"/>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{'confirm' | translate}}</button>
    </form>
</div>