<button class="btn btn-default" ng-click="empCtrl.createEmployee()">Dodaj</button>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Lp</th>
        <th>Login</th>
        <th>Imię i nazwisko</th>
        <th>Firma</th>
        <th>Kontakt</th>
        <th>Telefon</th>
        <th></th>
    </tr>
    </thead>
    <tbody ng-if="empCtrl.employees.length > 0">
    <tr ng-repeat="employee in empCtrl.employees">
        <td>{{$index + 1}}</td>
        <td>{{employee.login}}</td>
        <td>{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.firm.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>
            <a href="#/employee/{{employee.userId}}">Edytuj</a>
            |
            <a href="" ng-click="empCtrl.deleteEmployee(employee.userId)">Usuń</a>
        </td>
    </tr>
    </tbody>
    <tbody ng-if="empCtrl.employees.length == 0">
    <tr>
        <td colspan="7">
            Brak wyników
        </td>
    </tr>
    </tbody>
</table>